<div
  class="d-flex flex-column justify-content-center align-items-center"
  style="height: 100vh"
>
  <h3>Change Password Form</h3>
  <div class="p-4 d-flex flex-column rounded-3" style="border: 1px solid black">
    <mat-form-field class="example-full-width">
      <mat-label>New Password</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="password"
        class="ps-3"
        [ngModelOptions]="{ standalone: true }"
        (keydown.enter)="confirmChangePassword()"
      />
    </mat-form-field>
    <button
      (click)="confirmChangePassword()"
      class="border-0 text-white fw-bold bg-secondary p-2 rounded-3"
    >
      Change Password
    </button>
  </div>
</div>
